@keyframes smooth {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.menu {
  &__body {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    animation: smooth 0.5s ease;
    height: 100%;
    width: 100%;
    background-color: #000;

    @media (min-width: 768px) {
      position: static;
      background-color: transparent;
      padding: 20px 0;
      border-bottom: 1px solid #aaa;
    }
  }

  &__lang-wrapper {
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;

		@media (min-width: 768px) {
			top: 25px;
      left: 90%;
			transform: rotate(90deg);
    }
  }

  &__lang {
		background-color: transparent;
		font-size: 1.2rem;
		font-weight: bold;
		color: #888;
		padding: 0 8px;
		cursor: pointer;

		&:hover {
			color: #fff;
		}

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }

		&.active {
			color: #fff;
		}

		@media (min-width: 768px) {
			font-size: 1rem;
			padding: 0 5px;
			color: #777;

			&:hover {
				color: #000;
			}

			&:not(:last-child) {
				border-right: 1px solid #555;
			}

			&.active {
				color: #000;
			}
    }
  }
}
